.background{
    background: white;
}

.monedero{
    margin-top: -6%;
}

.movimientos{
    margin-top: -6%;
}

.saldo_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
