*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background_home{
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  
    background: linear-gradient(to right, #240b36, #c31432); 
}

.card{
    width: 20%;
    height: 35vh;
    margin: 10% auto;
}

.card-body{
    text-align: center;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.email{
    margin: 2em 0;
}

.btn{
    width: 50%;
    margin: 2em auto;
}