.container-fluid{
    background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  margin-right: 4rem;
}

.image{
  width:4em;
  height: auto;
  margin: 0.5em 0;
  border-radius: 50%;
}

.container .btn{
    margin: 0.5em 0;
}

.logout{
  text-decoration: none;
  color: white;
}

.logout:hover{
  color: white;
}


@media (max-width: 800px) {
  .container {
    justify-content: center;
    flex-wrap: wrap;
  }
}
