.container-fluid{
    background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}

.image{
  width:4em;
  height: auto;
  margin: 0.5em 0;
  border-radius: 50%;
}

.contenedor{
  border-bottom:black 1px solid;
}
